<?xml version="1.0" encoding="utf-8"?>
    <packages>
	  <package id="7zip" />
	  <package id="windirstat" />
	  <package id="steam" />
	  <package id="spotify" />
	  <package id="lightbulb" />
	  <package id="protonvpn" />
	  <package id="discord" />
	  <package id="epicgameslauncher" />
	  <package id="goggalaxy" />
	  <package id="lightshot" />
	  <package id="powertoys" />
	  <package id="signal" />
	  <package id="firefox" />
	  <package id="unifiedremote" />
	  <package id="crystaldiskinfo" />
	  <package id="file-converter" />
	  <package id="hwinfo" />
	  <package id="notion" />
	  <package id="windirstat" />
	  <package id="microsoft-windows-terminal" />
	  <package id="lghub" />
    </packages>
</xml>
